<%- include("partials/header.ejs")%>
    <form action="/">
            <div class="card">
              <img class="mt-5 mb-3"  width="350" height="300" src="/images/<%=Character%>.jpg"/>
              <h1 class="h1Style"><%= Character%></h1>
              <div>
                <p class="pStyle">
                    <%= Dialog%>
                </p>
              </div>  
            </div>
    </form>
<%- include("partials/footer.ejs")%>
